*{ /* basic browser default style */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flexbox /* flex container */
{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; /* wrap the row flex-direction */
}
.flex-item
{
    display: block;
    width: 100%;
    height: 450px;
}
.item-1
{
    background: #c9e0e2;
}
.item-2
{
    background: #e5e4db;
}
.item-3
{
    background: #9f9286;
}
.item-4
{
    background: #657970;
}
/* tablet */
@media screen and (min-width: 768px)
{
    .item-2,
    .item-3,
    .item-5,
    .item-6
    {
        width: 50%;
    }
}
/* desktop */
@media screen and (min-width: 1200px)
{
    .item-2,
    .item-3,
    .item-4
    {
        width: 33.333%;
    }
} 