*
{ /* basic browser default style */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flexbox /* flex container */
{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}
.flex-item
{
    display: block;
    width: 100%;
    height:460px;
}
.item-1
{
    background: #c9e0e2;
}
.item-2
{
    background: #e5e4db;
}
.item-3
{
    background: #9f9286;
}
.item-4
{
    background: #657970;
}